body {
	font-family: Arial;
}
#flowquest_container {
	width: 100%;
}
.fq-question {
	color: #fff;
	padding: 10px;
	margin: 10px 0;
	width: 100%;
	text-align: center;
  flex-direction: column;
}

.fq-question.fq-active {
	display: flex;
}

.fq-question.fq-inactive {
	display: none;
}

.fq-option {
	cursor: pointer;
	color: #000 !important;
	background: #fff;
	padding: 20px;
	border: 1px solid #fff;
	display: flex;
	margin: 5px 0;
	box-sizing: border-box;
  border-radius: 10px;
}

.fq-option:hover {
	_box-shadow: 0 0 3px 1px #999;
}

#answer-result {
	padding: 10px;
}


.fq-question > a > span:nth-child(1){
	width: 10px;
	border-radius: 10px;
	background-color: red;
	align-self: center;
}
.fq-question > a > span:nth-child(2){
	width: calc(100% - 10px);
}
