.custom-container {
  display: block;
  margin: 20px;
  padding: 20px;
}

.cronjobselector {
  padding: 20px;
  background: #e7e7e7;
}

.cronjobselector .timesAndDates ul li,
.cronjobselector .timesAndDates ul {
  list-style: none;
  margin: 0;
  padding: 0px 10px;
}

.cronjobselector select:disabled {
  background: #ccc;
}