.modal-body {
    padding: 60px;
}

.modal-body > p > button > span {
    margin-top: -20px;
    margin-right: -20px;
    position: absolute;
}

.modal-body h2 {
    font-size: 25px;
}

.modal-body h3 {
    font-size: 15px;
    margin-top: 20px;
}

#payment-premium > div > h4 {
    margin: 20px;
    font-weight: bold;
}

#payment-premium > form > table {
    display: flex;
    justify-content: center;
    margin: 20px;
}

#payment-premium > form > table  h4 {
    margin: 10px;
}

.coach-name {
    font-size: 18px;
    font-weight: bold;
}

.coach-title {
    font-size: 15px;
    font-weight: bold;
}

#contact-email::placeholder {
    font-family: 'Open Sans';
    font-size: 12px;
}